<div class="row">
  <div class="col-md-6">
    <p id="notice"><%= notice %></p>
    <div class="well">
      <h3><%=@user.username%>:<small>
      <% if@user.admin?%>
        administrator
      <%else%>
        normal user
      <%end%>
      </small></h3>
    </div>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
